@font-face {
    font-family: "Open";
    src: url(/dist/fonts/Open_sans/OpenSans-Regular.ttf);
    font-display: block;
}
@font-face {
    font-family: "OpenBold";
    src: url(/dist/fonts/Open_sans/OpenSans-Bold.ttf);
    font-display: block;
}